@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    min-width: 768px;
    max-width: 1200px;
  }
  .hero__subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 28.8px;
  }
  .hero__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
  }
  .hero__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    max-width: 700px;
  }
  .top-email__wrap {
    display: flex;
  }
  .services__title,
  .specialists__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
  }
  .services__text {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: center;
    max-width: 700px;
  }
  .services__list {
    margin-top: 24px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .services__item {
    min-width: 336px;
    max-width: 336px;
    height: 229px;
    background: #ffffff;
    padding: 24px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    max-width: 700px;
    margin: 0 auto;
  }
  .about__title {
    position: relative;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
  }
  .about__title-span {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #ce2824;
  }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .specialists__list {
    height: 414px;
  }
  .specialists__item {
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
  }
  .specialists__image {
    width: 300px;
  }
  .feedback__title {
    font-size: 24px;
    line-height: 36px;
  }
  .feedback__list {
    height: 200px;
  }
  .feedback__item {
    max-width: 576px;
    min-width: 576px;
  }
  .footer__nav {
    display: block;
    margin-top: 48px;
  }
  .footer__nav__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
